body{
    margin: 0 auto;
    width: 100%;
}

header{
    height: 150px;
}

header>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

header>ul>li{
    list-style: none;
}

header>ul>li>img{
    width: 150px;
    height: 150px;
}

header>ul>li>a{
    color: #FF5C16;
}

footer{
    height: 400px;
    background-color: #302A2A;
}