body{
    width: 1440px;
}

header{
    background-color: #FF5C16;
    opacity: calc(65%);
}

header nav ul li{
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: #ffffff;

}

header a{
    color: #ffffff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#allNav{
    display: flex;
}

.flexNav{
    display: flex;
    margin-right: 100px;
}

h1{
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 25px;
}

label{
    font-size: 22px;
    width: max-content;
}

#societyName, #jobName{
    width: 655px;
    height: 40px;
    border-radius: 3px;
    background-color: #A6A6A6;
    opacity: 30%;
    margin: 5px;
}

#contractType, #hours, #salary, #debutContract, #endContract, #city{
    width: 350px;
    height: 40px;
    border-radius: 3px;
    background-color: #A6A6A6;
    opacity: 30%;
    margin: 5px;
}

form{
    width: 1220px;
    height: 900px;
    display: flex;
    flex-direction: column;
}

#allItem{
    display: flex;
}

.itemOne{
    display: flex;
    flex-direction: column;
}

.itemTwo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.itemThree{
    display: flex;
}

.itemFour{
    display: flex;
}


/*, #itemDeux, #itemTrois{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

