@font-face {
    font-family: 'Open sans extra bold';
    src: url(../font/static/OpenSans/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'Open sans semi bold';
    src: url(../font/static/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: 'Open sans light';
    src: url(../font/static/OpenSans/OpenSans-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    color: #545454;
    font-family: 'Open sans extra bold';
}
p{
    font-family: 'Open sans light';
}
header{
    height: 768px;
    background: url("../images/SliderHomev2.jpg");
    background-size: cover;
}
header h1{
    font-size: 4em;
    text-align: center;
}
#logo{
    width: 400px;
}
.logo{
    display: inline-block;
}
.navTop{
    display: inline-block;
    vertical-align: top;
    font-size: 2em;
}
.navTop ul{
    display: flex;
    list-style-type: none;
}
.navTop ul li{
    background-color: #c4c4c4;
    margin: 0 20px;
    max-width: 200px;
}
#pictos{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 50px;
}
#paragraphes{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
footer{
    background-color: #EFEFEF;
}
.navFooter{
    display: inline-block;
    vertical-align: top;
    font-size: 2em;
}
.navFooter ul{
    display: flex;
    list-style-type: none;
}
.navFooter ul li{
    background-color: #c4c4c4;
    margin: 0 20px;
    max-width: 200px;
}
.reseauxSociaux, .copyright{
    margin: 50px;
    font-size: 1rem;
}
/*---------------------------------------------------------------------------------*/
.presentationEntreprise{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
#photoFondateur{
    width: 30%;
}
#aProposTexte{
    width: 50%;
}
h2{
    font-size: 3rem;
}
.fondateur{
    font-family: 'Open sans semi bold';
}