Front:

Voici le lien figma pour le debut du Wireframe

https://www.figma.com/file/SNpq16sioXVpo8N8Y3z6ek/Untitled?node-id=0%3A1

font awsome <script src="https://kit.fontawesome.com/5a37e2cbf7.js" crossorigin="anonymous"></script>

Back:

- Reflexion de la base de donnée 
- creation de la base, debut de creation des tables.

General:

- Mail 1 avec questions pour precision au cahier des charges.
- 1ere reponse du stagiaire 
- manque de precision dans la réponse du stagiaire , réponse avec demande de details et de respect de sytaxe et orth.
- avancement de maquettage ( header, containt fait)
- 9h30 DAO terminée 
- 10h Class Candidate terminée, table Job et Candidate terminées
- 10h30 class Job en cours